
#hero-container{
width:100%;
height: 1300px;

}
#hero-image{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
#hero-container{
    background-image: url('336262525_932859634509760_4143803620203702534_n.jpg');
    object-fit: fill;
    
}

