#hero-container{
    background-image: url('348468216_882047699975030_3510235272842988101_n.jpg');
    height: 450px;
    background-repeat: no-repeat;
    
    min-width: 375px;
    max-width: 425px;
}
/* 
#hero-text-container{
    background-color:transparent;
    height:100px;
    width: 40%;
    color: white;
    margin-top: 40px ;
} */